/vendor
/.idea
/public/storage
/public/uploads
/public/*.zip
/public/*.tar.gz
/public/*.tar.bz2
/storage
/node_modules
Homestead.json
Homestead.yaml
.env
.DS_Store
/nbproject/
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
*.save
composer.lock
config/
bootstrap/
