/node_modules
/public/hot
/public/storage
/public/vendor
/public/uploads
/public/*.zip
/public/*.gz
/public/*.bz2
/storage/*.key
/storage/license
/vendor
.vscode/
.env
*.save
.DS_Store
composer.lock
/config
/bootstrap
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
